In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

import sqlite3 as sq

In [2]:
conn = sq.connect('NationalReportCard.sqlite')

In [5]:
pd.read_sql_query('select * from NationalReportCard', con=conn)

     state  gender
0       AK    Male
1       AK  Female
2       AL    Male
3       AL  Female
4       AR    Male
5       AR  Female
6       AZ    Male
7       AZ  Female
8       CA    Male
9       CA  Female
10      CO    Male
11      CO  Female
12      CT    Male
13      CT  Female
14      DC    Male
15      DC  Female
16      DE    Male
17      DE  Female
18      FL    Male
19      FL  Female
20      GA    Male
21      GA  Female
22      HI    Male
23      HI  Female
24      IA    Male
25      IA  Female
26      ID    Male
27      ID  Female
28      IL    Male
29      IL  Female
...    ...     ...
3298    OK    Male
3299    OK  Female
3300    OR    Male
3301    OR  Female
3302    PA    Male
3303    PA  Female
3304    RI    Male
3305    RI  Female
3306    SC    Male
3307    SC  Female
3308    SD    Male
3309    SD  Female
3310    TN    Male
3311    TN  Female
3312    TX    Male
3313    TX  Female
3314    UT    Male
3315    UT  Female
3316    VA    Male
3317    VA  Female
3318    VT    Male
3319    VT  Female
3320    WA    Male
3321    WA  Female
3322    WI    Male
3323    WI  Female
3324    WV    Male
3325    WV  Female
3326    WY    Male
3327    WY  Female

[3328 rows x 2 columns]